/*
font-family: 'Montserrat', sans-serif;
*/

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    background: #303030;
    color: $clr-white;
    min-height: 100vh;

    div.textbox-downloaded-popup {
        position: fixed;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        font-weight: 600;
        padding: 1.5em 0;
        width: 100%;
        background: $clr-blued;
        font-size: 1.5rem;
        z-index: 9;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        @include Clamp(1.5, 3.5, 2.75);
        margin: .5em 0;
        margin-bottom: 1em;
    }

    section.socials {
        position: absolute;
        right: 0;
        top: 1rem;

        i {
            cursor: pointer;
            @include Clamp(1, 3, 2);
            margin-right: .5em;
        }
    }

    section.wrap {
        @include Flex(sa);
        width: 100%;

        section.entry,
        section.output {
            height: 100%;
            width: 40%;
            min-width: 360px;
            position: sticky;
            top: 2em;
            margin-bottom: 1em;
        }

        section.details,
        section.details-resized {
            p {
                color: $clr-grey;
                margin-bottom: .5em;
                @include Clamp(.95, 1.75, 1.15);

                span {
                    margin-left: .5em;
                    font-weight: 700;
                }
            }
        }

        p.header {
            text-transform: uppercase;
            font-weight: 600;
            color: $clr-grey;
            margin-bottom: 1em;
            @include Clamp(.9, 1.75, 1);
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        width: 100%;
        background: rgb(99, 98, 98);
        border-radius: .5em;
    }
}